// linking _config.sass to main stylesheet
@import "config"

*
    box-sizing: border-box

body 
    font-family: $primary-font
    margin: 0
    padding: 0

// the first nesting (many more to come)
.container
    position: relative

    .navbar
        display: flex
        position: absolute
        top: 0
        width: 100%
        padding: 1rem
        justify-content: space-between
        
    .logo
        padding-left: 3rem
        margin-top: 2rem
        
    .burger
        display: none

    ul 
        display: flex
        list-style-type: none
        
        
    li 
        padding: 2rem
        
    a
        text-decoration: none
        font-weight: bold
        color: #000
        @include text

    a:hover 
        color: $accent-color

    .hero
        
        &-circle
            position: absolute
            width: 31vw
            height: 30vw
            border-radius: 50%
            top: 25%
            left: 20%
            background-color: $hero-text-color
            
    h1 
        padding-left: 4rem
        padding-top: 5rem
        text-shadow: 2px 3px 6px #818181
        @include h1
        
    img 
        width: 100%
        
         
.about-section
    display: flex
    justify-content: center
    
    .about-circle
        display: block
        margin-top: 12rem
        width: 350px
        height: 340px
        border-radius: 50%
        background-color: $accent-color
        @include h2 // mixin

    h2 
        padding-left: 2rem
        padding-top: 9rem
       
    .about-p-circle
        display: block
        margin: 23.5rem -12rem 5rem -12rem
        width: 500px
        height: 480px
        border-radius: 50%
        background-color: $about-text-color
        box-shadow: 0 4px 4px 0 #818181
        overflow-y: hidden
        z-index: 1
        @include text // mixin
    p 
        padding: 4rem 3rem 0 5rem
        
    img 
        display: block
        margin-top: 2rem
        margin-bottom: 15rem

.brunch
    display: flex
    justify-content: center
    
    &-container
        margin-right: 1.5rem

    &-circle
        display: block
        width: 350px
        height: 340px
        border-radius: 50%
        background-color: $brunch-color
        @include h2 // mixin

    &-img 
        display: block
        margin-top: -8rem
        margin-left: 5rem

    h2 
        text-align: center
        padding-top: 9rem

    &-container-2
        display: flex
        margin: 1rem
        margin-bottom: 6rem   

    p 
        display: block
        margin-top: 22rem
        max-width: 20rem
        z-index: 1
        @include text // mixin 

    &-p-circle
        display: block
        margin-top: 25rem
        margin-left: -8rem
        margin-right: -10rem
        width: 350px
        height: 340px
        border-radius: 50%
        background-color: $accent-color

    &-img-2 
        display: block
        margin-top: 8rem

    &-banner
        display: none

footer
    display: flex
    justify-content: space-between
    margin: 3rem

    .footer-container
        display: inline-grid
        grid-template-columns: auto auto

    .item 
        margin-left: 2rem
        margin-top: 0.5rem
        @include text //mixin

    ul
        display: flex
        justify-content: space-evenly
        width: 25rem

    li 
        list-style-type: none


// linking _mobile.sass to main stylesheet
@import "mobile"



